.notebookCard {
  background-color: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-background-surface-color-secondary);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-font-base-color);
  display: inline-block;
  margin: 3px;
  padding: calc( var(--ifm-spacing-vertical) * 1 ) calc( var(--ifm-spacing-horizontal) * 1.5 );
}

.notebookCard:hover {
  text-decoration: none;
  background-color: var(--ifm-background-surface-color-secondary);
}

.notebookCard > * {
  color: var(--ifm-font-base-color);
}