# For general updates to the library
*                @ranadeepsingh @BrendanWalsh

# Markus' Areas
vw/              @eisber
isolationforest/ @eisber
recommendation/  @eisber

# Scott's Areas
lightgbm/        @svotaw
