# MMLSpark $MML_VERSION

* Source: [$BUILD_REPOSITORY_NAME]($BUILD_REPOSITORY_URI),
    ${BUILD_SOURCEBRANCH##refs/@(heads/|)} at revision ${BUILD_SOURCEVERSION:0:8}
    (by $BUILD_SOURCEVERSIONAUTHOR).

* Build: $BUILD_DEFINITIONNAME, $BUILD_BUILDNUMBER
    (built by $AGENT_NAME on $AGENT_MACHINENAME, $(date +'%F %R'))

* Info: `$MML_BUILD_INFO`

* Queued by:
    $BUILD_QUEUEDBY for [$BUILD_REQUESTEDFOR](mailto:$BUILD_REQUESTEDFOREMAIL)
