name: Reopen closed issue on comment

on:
  issue_comment:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Reopen closed issue on comment
        uses: octokit/request-action@v2.x
        continue-on-error: true
        with:
          route: UPDATE /repos/:repository/issues/:issue
          repository: ${{ github.repository }}
          issue: ${{ github.event.issue.number }}
          label: "awaiting response"
          body: ${{ toJSON(env.REQUEST_BODY) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUEST_BODY: |
            {"state":"open"}
